@model IEnumerable<presonasimagen.Models.LocalidadModel>

@{
    ViewData["Title"] = "Index";
}

<h5><i class="fas fa-map-marker-alt"></i> Listado de localidades</h5>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Localidad)
            </th>
            <th>
                <a asp-action="Create" class="btn btn-success btn-sm"><i class="fas fa-plus"></i> Crear Localidad</a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Localidad)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-pencil-alt text-warning"></i></a> 
                <a asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash text-danger"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
