@model presonasimagen.Models.EstudiosModel

@{
    ViewData["Title"] = "Edit";
}

<a asp-action="Index" class="nav-link"><i class="fas fa-arrow-left"></i>Volver</a>

<h4>Editar categoria</h4>
<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="Edit" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="row">
                <div class="col-md-8">
                    <input asp-for="Estudios" class="form-control" />
                    <span asp-validation-for="Estudios" class="text-danger"></span>
                </div>
                <div class="col-md-2">
                    <input type="submit" value="Editar categoria" class="btn btn-warning" />
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
